/* ############################### */
/* NAVIGATION */
/* ############################### */

.nav-bar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
  box-shadow: 0 4.2rem 6.2rem rgba(0, 0, 0, 0.1);
}

.main-header {
  /* position: relative; */
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18rem;
}

.logo {
  align-self: center;
}

.logo img {
  display: block;
  width: 90%;
}
.nav-items {
  display: flex;
  gap: 5rem;
  list-style: none;
}

/* .nav-items {
  flex-direction: column;
} */

.nav-item {
  position: relative;
  width: 100%;
}

.nav-item::after {
  content: "";
  height: 2.8px;
  display: block;
  position: absolute;
  bottom: -60%;
  background-color: hsl(136, 65%, 51%);
  /* transition: all ease-in 1s; */
}

.nav-item:hover::after {
  width: 100%;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(233, 8%, 62%);
  transition: all ease-in 0.3s;
}
.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: #000000b9;
}

/* ############################### */
/* Mobile Navigation/
/* ############################### */

.mobile-nav-btn {
  display: none;
}

.mobile-nav-icon {
  width: 1.8rem;
  height: 1.8rem;
  color: hsl(233, 26%, 24%);
}

.hide-icon {
  display: none;
}

/* ############################### */
/* HERO*/
/* ############################### */

/* .hero-section {
  background-color: greenyellow; 
} */

/*
.hero {
}
.hero-text-box {
  background-color: blue; 
}

*/

.hero-text-box {
  padding: 8rem 5rem 5rem 5rem;
}
.hero-text {
  margin-top: 5rem;
}

.hero-text-box a {
  display: inline-block;
  margin-top: 6rem;
}

.hero-img-box {
  position: relative;
  text-align: center;
  background-image: url("../images/bg-intro-desktop.svg");
}
.hero-img {
  width: 80%;
}

/* ############################### */
/* SERVICES*/
/* ############################### */

.services-section {
  background-color: hsl(220, 16%, 96%);
  padding: 3rem;
}

.card-img {
  margin-bottom: 2rem;
}

.card-heading {
  font-size: 2rem;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
  margin-bottom: 2rem;
}

/* ############################### */
/* ARTICLES/
/* ############################### */

.articles-section {
  padding: 3rem;
  background-color: hsl(0, 0%, 98%);
}

.card-articles {
  background-color: hsl(0, 0%, 100%);
  border-radius: 9px;
  box-shadow: 0 4.2rem 6.2rem rgba(0, 0, 0, 0.01);
  overflow: hidden;
}

.article-img {
  width: 100%;
  height: 19.8rem;
}

.card-body {
  padding: 2.5rem;
}

.author {
  font-size: 1.2rem;
  color: hsl(230, 8%, 72%);
  margin-bottom: 2rem;
}

.article-heading {
  font-size: 2rem;
  line-height: 1.2;
  transition: all ease-in 0.3s;
}

.article-heading:hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}
/* ############################### */
/* FOOTER/
/* ############################### */

.section-footer {
  margin-top: 8rem;
  padding: 3rem;
  background-color: hsl(233, 26%, 24%);
}

.footer_logo--icons_container {
  width: 80%;
}
.footer-logo {
  fill: hsl(0, 0%, 100%);
}

.social-media-icons {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}

.social-media-icons img {
  display: inline-block;
  transition: all ease 0.3s;
}

.social-icon:hover {
  color: hsl(136, 48%, 55%);
  filter: brightness(0.8) sepia(1) hue-rotate(48deg) saturate(8);
}

.footer-nav-items {
  list-style: none;
}

.footer-nav-link:link,
.footer-nav-link:visited {
  font-size: 1.2rem;
  color: hsl(220, 16%, 96%);
  text-decoration: none;
  transition: all ease-in 0.3s;
}

.about-us {
  width: 70%;
}

.footer-nav-link:hover,
.footer-nav-link:active {
  color: hsl(136, 65%, 51%);
}

.footer-cta a {
  margin-left: 4rem;
}

.footer-cta a:hover {
  opacity: 0.7;
}

.copyrights {
  font-size: 1.2rem;
  color: hsl(233, 8%, 62%);
  padding-top: 2rem;
}
