@media (max-width: 71em) {
  .primary-heading {
    font-size: 5rem;
  }
}

@media (max-width: 56em) {
  html {
    font-size: 55.5%;
  }

  .articles,
  .services {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .footer-sec {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    align-items: center;
  }

  .footer-cta {
    grid-row: 2;
  }
  .footer-cta a {
    margin-left: 0rem;
  }
}

@media (max-width: 44em) {
  .nav-bar {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    border-radius: 10px;
    box-shadow: 0 4.2rem 6.2rem rgba(0, 0, 0, 0.1);
  }

  .articles,
  .services {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .nav-items {
    gap: 3.5rem;
  }
  .nav-link {
    font-size: 1.6rem;
    color: hsl(233, 26%, 24%);
  }

  .nav-item:hover::after {
    width: 0;
  }

  .mobile-nav-btn {
    border: none;
    background: none;
    cursor: pointer;
    display: block;
  }

  .nav-items {
    flex-direction: column;
  }

  .nav-cta {
    display: none;
  }
}
