@media (max-width: 44em) {
  .nav-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(136, 65%, 51%);
    position: absolute;
    width: 55%;
    height: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    border-radius: 10px;
  }

  .nav-items {
    gap: 3.5rem;
  }
  .nav-link {
    font-size: 1.6rem;
    color: hsl(233, 26%, 24%);
  }

  .nav-item:hover::after {
    width: 0;
  }

  .mobile-nav-btn {
    border: none;
    background: none;
    cursor: pointer;
    display: block;
  }

  .nav-items {
    flex-direction: column;
  }

  .nav-cta {
    display: none;
  }
}
